{% if site.email %}
  <a href="mailto:{{ site.email | encode_email }}" title="email">
    <i class="fa-solid fa-envelope"></i>
  </a>
{% endif %}
{% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>
{% endif %}
{% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" title="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
{% endif %}
{% if site.kaggle_id %}
  <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle"><i class="fa-brands fa-kaggle"></i></a>
{% endif %}