---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: calc({{ site.max_width }} * 0.9);

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Custom style for cropping project images horizontally
.img-cropped {
  height: 150px; /* Adjust the height as desired */
  object-fit: cover; /* Ensures the image is cropped centered */
  width: 100%;
}

.about-paragraph {
  max-width: 100%; // ajusta el porcentaje según el ancho que prefieras
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1.5em; // Espaciado entre párrafos para diferenciar

}


.about-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.about-buttons .btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}
